# Python\n__pycache__/\n*.py[cod]\n*.class\n*.so\n.Python\nenv/\nbuild/\ndevelop-eggs/\ndist/\ndownloads/\neggs/\n.eggs/\nlib/\nlib64/\nparts/\nsdist/\nvar/\nwheels/\n*.egg-info/\n.installed.cfg\n*.egg\n\n# Virtual Environment\nvenv/\nENV/\n\n# Environment variables\n.env\n\n# IDE specific files\n.idea/\n.vscode/\n*.swp\n*.swo\n\n# Flask\ninstance/\n.webassets-cache\n\n# Logs\n*.log
