[Unit]
Description=FRC Analysis Flask App
After=network.target

[Service]
User=your_username
Group=www-data
WorkingDirectory=/Users/nathandykstra/frc-python
Environment="PATH=$HOME/frc-python/venv/bin"
ExecStart=$HOME/frc-python/venv/bin/gunicorn --workers 3 --bind unix:frc-analysis.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
